<!DOCTYPE html>
<html>
  <head>
    <script src="js/jquery-1.10.1.js"></script>
    <script>
      $(function () {

	var $username = $(this).find('input[name=username]');
	var $password = $(this).find('input[name=password]');
	var $pwdAgain = $(this).find('input[name=passwordAgain]');

	$('#signup').submit(function () {

	  if ($username.val() == "" || $password.val() == "") {
	    alert('username or password is empty');
	    return false;
	  }

	  if (isTypo())
	    return false;

	});

	$('input[name=passwordAgain]').on('blur', function () {

	  if (isTypo()) {
	    $(this).addClass('typo');
	    $('#typo-msg').show();
	  }

	}).on('focus', function () {

	  $(this).removeClass('typo');
	  $('#typo-msg').hide();

	});

	function isTypo() {
	  return $password.val() != $pwdAgain.val();
	}

      });

    </script>
    <style>
      form {
	width: 40%;
	margin: 6em auto;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
      }
      form .btn {
	width: 100%;
	margin: 0.1em;
      }

      fieldset {
	width: 240px!important;
      }

      .typo {
	border-color: red;
	background-color: yellow;
      }

      #typo-msg {
	display: none;
      }

      .help-text {
	color: rgb(143, 18, 18);
	text-align: center;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
  </head>

  <body>

    <form action="/signup" id='signup' method="post">
      <fieldset>
	<legend>語音實驗室語料收集平台</legend>
	<div>
	  <div class="form-group">
	    <input type="text" class="form-control" name="username" placeholder="帳號">
	  </div>

	  <div class="form-group">
	    <input type="text" class="form-control" name="fullname" placeholder="姓名">
	  </div>

	  <div class="form-group">
	    <input type="password" class="form-control" name="password" placeholder="密碼">
	  </div>

	  <div class="form-group">
	    <input type="password" class="form-control" name="passwordAgain" placeholder="再輸入一次密碼">
	  </div>

	  <div class='help-text' id='typo-msg'>您第二次輸入的密碼與第一次不相符，請重新輸入。</div>

	  <div class="checkbox">
	    <label>
	      <input type="checkbox">我同意 <a id='term-of-service'>使用條款</a>
	    </label>
	  </div>
	  <button class="btn btn-success btn-large" id='register'>註冊</button><br/>
	  <div class='help-text'><%= message %></div>
	</div>
      </fieldset>
    </form>

  </body>
</html>
